{{#extend "raha/layout/base/layout"}}
  {{#content "styles" mode="append"}}
    .faq {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .linkBuffer:before {
      height: 80px;
      display: block;
      content: '';
    }
    
    .bareLink {
      text-decoration: none;
    }
  {{/content}}

  {{#content "body"}}
    <main class="faq">
      <article>
        <h1 id="top" data-t>faqTitle</h1>
        
        {{#each faq as |sectionValue sectionKey|}}
            <h3>{{sectionKey}}</h3>
            <ul>
                {{#each this}}
                    <li><a href="#{{@key}}" class="bareLink" data-t>faq.{{sectionKey}}.{{@key}}.q</a></li>
                {{/each}}
            </ul>
        {{/each}}

        {{#each faq as |sectionValue sectionKey|}}
            <h1>{{sectionKey}}</h1>
            {{#each this}}
                <h3 id="{{@key}}" class="linkBuffer" data-t>faq.{{sectionKey}}.{{@key}}.q</h3>
                <p data-t>faq.{{sectionKey}}.{{@key}}.a</p> 
                <a href="#top" class="bareLink">&#10514;</a>
            {{/each}}
        {{/each}}
        
      </article>
    </main>
  {{/content}}
{{/extend }}
